<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="consumers-count" value="10" />
    <add key="producer-consumer-queue-size" value="10" />
    <add key="processed-equations-dictionary-size" value="1000" />
  </appSettings>
</configuration>